SMTP_HOST=email-smtp.us-west-2.amazonaws.com
SMTP_PORT=587
SMTP_USER=username
SMTP_PASS=password

EMAIL_MODE=safe
EMAIL_SAFEDOMAIN=cool-company.co.ol
EMAIL_FROM=andrew.ochtinsky@cool-company.co.ol
EMAIL_SUBJECT=A message from Cool Company

TEST_FROM=Cool Company Support <support@cool-company.co.ol>
TEST_TO=someone@cool-company.co.ol
TEST_SUBJECT=Test email from email-library
TEST_TEMPLATE=forgotPassword

EMAIL_TEMPLATE_TITLE=Cool Company
EMAIL_TEMPLATE_COPYRIGHT=© 2017 Cool Company, Inc.. All rights reserved.
EMAIL_TEMPLATE_ADDRESS=Cool Company, Inc.<br />123 Avenue St<br />Anytown USA 12345